body {
    background: #8f8f8f;
    transition: background-color 0.4s ease-in-out;
}
body.question {
    background-color: #9C27B0;
}
body.interactive {
    background-color: #E91E63;
}
body.learn {
    background-color: #4CAF50;
}
#lesson {
    padding-top: 20px;
}
.carousel-item {
    text-align: center;
}
.carousel-indicators {
    bottom: auto;
    top: 15px;
}
.carousel-indicators li:hover {
    cursor:pointer;
}
h3.instruction {
  text-align: center;
  font-size: 1.2em;
  padding: 15px 10% 10px 10%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
}
.language-box {
  width: 80%;
  display: block;
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.05);
  border: solid 2px rgba(0, 0, 0, 0.1);
  padding: 18px 25px;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  position: relative;
}
.language-box.conversation {
    flex: 0 0 40%;
    max-width: 40%;
    display: inline-block;
    font-size: 1em;
    padding-top: 25px;
    text-align: left;
}
.language-box::before {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
  opacity: 0.5;
}
.language-box.english::before {
  content: 'English';
}
.language-box.swahili::before {
  content: 'Swahili';
}
.language-box, .language-box input, .language-box span,
.instruction code, .tooltip {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}
.language-box .muted {
  opacity: 0.5;
}
.language-box input {
  color: #ffffff;
  background: none;
  border: none;
  width: 100px;
  min-width: 100px;
  border-bottom: solid 3px rgba(255, 255, 255, 0.8);
  text-align: center;
}
.language-box input.correct {
  border-color: rgba(50, 255, 50, 0.8);
}
.language-box input.wrong {
  border-color: rgba(255, 50, 50, 0.8);
}
.language-box input:focus {
    outline: none;
}
.tooltip {
    font-size: 1em;
}
[data-toggle="tooltip"] {
    border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
}
[data-toggle="tooltip"]:hover {
    cursor: help;
}
.instruction code {
    background: rgba(0, 0, 0, 0.05);
    color: #ffffff;
}
.action {
  text-align: center;
  padding: 5px 15px;
}
.action button, .action a {
  padding: 15px 20px;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: solid 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  transition: padding-right 0.2s ease-in-out;
}
.action a {
    line-height: 50px;
}
.action button.grade.correct,
.action button.grade.wrong,
.action button.start-over {
    position: relative;
    padding-right: 55px;
    font-weight: 900;
}
.action button.grade.correct::before {
    position: absolute;
    background-image: url('/image/icon/correct.png');
    content: '';
    right: 1px;
    top: 1px;
    width: 48px;
    height: 48px;
    opacity: 0.5;
}
.action button.start-over::before,
.action button.grade.wrong::before {
    position: absolute;
    background-image: url('/image/icon/wrong.png');
    content: '';
    right: 1px;
    top: 1px;
    width: 48px;
    height: 48px;
    opacity: 0.5;
}
.action button:hover,
.action a:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
.action button:focus,
.action a:focus {
  outline: none;
}
