body {
    background: #8f8f8f;
    transition: background 0.4s ease-in-out;
}
body.question {
    background: #9C27B0;
}
body.interactive {
    background: #2196F3;
}
body.learn {
    background: #4CAF50;
}
body.conversation {
    background: #3F51B5;
}
#lesson {
    padding-top: 20px;
}
.carousel-indicators {
    bottom: auto;
    top: 15px;
}
.carousel-indicators li:hover {
    cursor:pointer;
}
h3.instruction {
  text-align: center;
  font-size: 1.2em;
  padding: 15px 10% 10px 10%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
}
.language-box {
  width: 80%;
  display: block;
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.05);
  border: solid 2px rgba(0, 0, 0, 0.1);
  padding: 18px 25px;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  position: relative;
}
.language-box.conversation:first-child {
    margin-left: 10%;
}
.language-box.conversation {
    flex: 0 0 40%;
    max-width: 40%;
    display: inline-block;
    font-size: 1em;
    padding-top: 25px;
    text-align: left;
}
.language-box::before {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
  opacity: 0.5;
}
.language-box.english::before {
  content: 'English';
}
.language-box.swahili::before {
  content: 'Swahili';
}
.language-box, .language-box input, .language-box span,
.instruction code {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}
.language-box input {
  color: #ffffff;
  background: none;
  border: none;
  width: 100px;
  min-width: 100px;
  border-bottom: solid 3px rgba(255, 255, 255, 0.8);
  text-align: center;
}
.language-box input:focus {
    outline: none;
}
.instruction code {
    background: rgba(0, 0, 0, 0.05);
    color: #ffffff;
}
.action {
  text-align: center;
}
.action button {
  padding: 15px 20px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: solid 3px rgba(0, 0, 0, 0.2);
  transition: background 0.4s ease-in-out;
}
.action button.grade.correct,
.action button.grade.wrong {
    position: relative;
    padding-right: 55px;
}
.action button.grade.correct::before {
    position: absolute;
    background-image: url('/image/icon/check.png');
    content: '';
    right: 1px;
    top: 1px;
    width: 48px;
    height: 48px;
    opacity: 0.5;
}
.action button.grade.wrong::before {
    position: absolute;
    background-image: url('/image/icon/incorrect.png');
    content: '';
    right: 1px;
    top: 1px;
    width: 48px;
    height: 48px;
    opacity: 0.5;
}
.action button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
.action button:focus {
  outline: none;
}
.english::before {

}
.english {

}
.swahili {

}
