<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="assets/css/vue-material.css">
    </head>
    <body>
        <div id="table">
            <md-toolbar>
                <!-- TITLE -->
                <h3 class="md-title">Students</h3>

                <!-- BUTTONS -->
                <md-button v-if="!newStudent"
                    class="md-icon-button"
                    @click.native="addNewStudent">
                    <md-icon>person_add</md-icon>
                </md-button>

                <md-button class="md-icon-button"
                    @click.native="">
                    <md-icon>playlist_add</md-icon>
                </md-button>

                <!-- SEARCH -->
                <md-button class="md-icon-button">
                    <md-icon>search</md-icon>
                </md-button>
                <md-input-container md-inline style="width:200px;opacity:0.7;">
                    <label>Search</label>
                    <md-input v-model="searchQuery"></md-input>
                  </md-input-container>
            </md-toolbar>
            <md-table md-sort="calories">

              <md-table-header>
                <md-table-row>
                  <md-table-head md-sort-by="dessert">Dessert (100g serving)</md-table-head>
                  <md-table-head md-sort-by="calories" md-numeric md-tooltip="The total amount of food energy and the given serving size">Calories (g)</md-table-head>
                  <md-table-head md-sort-by="fat" md-numeric>Fat (g)</md-table-head>
                  <md-table-head md-sort-by="carbs" md-numeric>Carbs (g)</md-table-head>
                  <md-table-head md-sort-by="protein" md-numeric>Protein (g)</md-table-head>
                </md-table-row>
              </md-table-header>

              <md-table-body>
                <md-table-row v-for="(row, index) in 5" :key="index">
                  <md-table-cell>Dessert Name</md-table-cell>
                  <md-table-cell v-for="(col, index) in 4" :key="index" md-numeric>10</md-table-cell>
                </md-table-row>
              </md-table-body>
            </md-table>
        </div>
        <script type="text/javascript" src="assets/js/vue.js"></script>
        <script type="text/javascript" src="assets/js/vue-material.js"></script>
        <script src="assets/js/table.js"></script>
    </body>
</html>
